Django==2.2.12
django-crontab==0.7.1
djangorestframework==3.13.1
psycopg2-binary==2.8.6
Jinja2==3.0.0rc2
cryptography==40.0.2
Pillow==7.0.0
lxml==5.1.0
openpyxl==3.0.10
pandas==1.1.5
plotly==5.14.1
requests==2.27.1
pytz==2019.3
python-dotenv==0.20.0
pdfkit==1.0.0